.detail
{
	border:2px solid #5c0a05;
	 text-align: center;
	  padding: 50px;
	  margin: 100px;
	  box-shadow: 0 15px 160px 0 rgba(255,100,100,0.6);
}
.photo
{
	width: 100px;
	border: 2px solid black;
}
